* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 7px;
  background-color: azure;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 3px;
  border: 2px solid #a09ebb;
  border-radius: 7px;
  width: 257px;
}
.img img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 3px;
}






